// темная тема
$bgcolorBlack: #000000; // background-color

$inputBgColor: #0c0c0c; // input`s filter

$borderBlack: 1px solid #ffffff; //border black theme

$color: #ffffff;

// светлая тема

$bgcolorWhite: #ffffff; // background-color

$borderWhite: 1px solid rgba(0, 0, 0, 0.3); //border white theme
